/**
 * CSS 全局变量
 */

// ---------------------- global ----------------------
font-family-default = "PingFangSC-Regular", "PingFangSC", "Microsoft Yahei", arial, helvetica, sans-serif
font-family-light = "PingFangSC-Light", "PingFangSC-Regular", "PingFangSC", "Microsoft Yahei", Arial, "Helvetica Neue", Helvetica, sans-serif
font-family-bold = "PingFangSC-Medium", "PingFangSC-Regular", "PingFangSC", "Microsoft Yahei"

 // ---------------------- color：主色 ----------------------
color-danger = #FF4200
// color-danger-light = #FF708D
// color-primary = #04BE02
// color-warning = #FFB000
color-disabled = #ccc
// color-hollow = #fff
// color-primary-active = #0a8ddf
// color-danger-active = darken(color-danger, 10%)
// color-warning-active = darken(color-warning, 10%)
// color-hollow-active = darken(color-success, 10%)

// ---------------------- 背景色 ----------------------
color-bg = #f6f6f6  // 背景色
// color-bg-search = #eee  // 搜索背景色
color-bg-nav = #fafafa  // 导航栏背景色

color-split = #e6e6e6  // 分割线的颜色

// ---------------------- font ----------------------
font-size-small = 12rem  // 正文
font-size-default = 14rem  // 正文
font-size-large = 16rem  // 正文
font-size-larger = 18rem  // 标题

// font-weight-default = 500
// font-weight-light = 400

font-color-dark = #333
font-color-default = #666
font-color-gray = #999

// ---------------------- line-height ----------------------
line-height-default = 1.5

// ---------------------- border ----------------------
border-width-default = 1px
border-color-default = color-split
border-default = border-width-default solid border-color-default
border-radius-default = 4rem
border-radius-round = 40rem